@import "vars";
@import "global";
@import "fonts";

//header start
.header {
    margin-bottom: 25px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.header__logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.7;
    color: #514eef;
    span {
        color: #ef924e;
    }
}
.header__menu--off,
.header__image-user--off,
.header__lang--off {
    display: none;
}
.header__lang--on {
    padding: 20px 20px 20px 22px;
    width: 60px;
    height: 60px;
    background-color: #f4f4f4;
    border-radius: 6px;
}
.header__menu--on,
.header__image-user--on,
.header__lang--on {
    display: block;
}
.lang__ru--on img,
.lang__en--on img {
    border-radius: 45px;
    display: block;
}
.lang__ru--off img,
.lang__en--off img {
    display: none;
}
.lang__ru--on,
.lang__en--on {
    position: relative;
}
.drop-down__list {
    height: 0px;
    overflow: scroll;
    opacity: 0;
    position: absolute;
    width: 60px;
    background-color: #f4f4f4;
    border-radius: 6px;
    right: -20px;
    top: -21px;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.drop-down__list a {
    padding: 5px 0px 5px 22px;
    display: block;
}
.lang__ru--on .drop-down__list li,
.lang__en--on .drop-down__list li {
    margin-left: 0;
    display: block;
}
.lang__ru--on.drop-down:hover .drop-down__list,
.lang__en--on.drop-down:hover .drop-down__list {
    height: 88px;
    overflow: visible;
    opacity: 1;
    transition: all 0.01s;
}
.header__menu-list {
    padding-top: 25px;
    li {
        display: inline-block;
        & + li {
            margin-left: 40px;
        }
    }
}
.header__menu-list a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #a2a2a2;
}
.header__menu-list .active {
    opacity: 1;
    color: #444;
}
.header__wrapper {
    background-color: #fff;
}
.chat {
    position: relative;
    span {
        background-color: rgba($color: #ef4e4e, $alpha: 1);
        border-radius: 50%;
        color: #fff;
        font-weight: 500;
        font-size: 8px;
        line-height: 14px;
        position: absolute;
        width: 14px;
        height: 14px;
        text-align: center;
        right: -19px;
        top: 4px;
    }
}
.header__image-user--on img {
    width: 40px;
    height: 40px;
}
//header end

//start main

.main__inner-form,
.chat__inner-form {
    position: relative;
    margin: 0 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    input {
        display: block;
        width: 100%;
        background-color: #f6f6f6;
        border-radius: 6px;
        border: none;
        height: 36px;
        padding-left: 36px;
        padding-right: 60px;
        outline: 0;
        &::placeholder {
            color: #dedede;
            font-size: 14px;
            line-height: 17px;
        }
    }
    button {
        position: absolute;
        border: none;
        background-color: transparent;
        left: 5px;
        top: 27px;
        cursor: pointer;
    }
}
.main__settings {
    position: absolute;
    right: -4px;
    top: 14px;
}
.icon-search {
    color: #b2b2b2;
    font-size: 18px;
}
.dropbtn {
    color: #444;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 181px;
    min-height: 145px;
    overflow: auto;
    z-index: 1;
    padding: 11px 5px 0 0px;
    left: -80px;
    top: 53px;
    border-radius: 6px;
}

.dropdown-content a {
    color: #444444;
    padding-bottom: 7px;
    padding-top: 6px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
}

.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
.main__inner-sort {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sort__title {
    color: $text;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 10px;
}
.sort__criterion-inner {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0 15px 0 8px;
    margin-left: 10px;
    border-radius: 4px;
    width: 449px;
}
.sort__criterion-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort__criterion-item {
    background-color: #12cc94;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    padding: 4px 22px 4px 6px;
    margin-right: 4px;
    border-radius: 2px;
    position: relative;
}
.sort__criterion-delete {
    position: absolute;
    display: inline-block;
    background-color: rgba(68, 68, 68, 0.3);
    border-radius: 2px;
    height: 20px;
    width: 20px;
    // padding: 5px 6px 3px 6px;
    top: 0px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    background-image: url(../images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 8px;
}
.sort__criterion-add {
    background-color: #b2b2b2;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    padding: 4px 6px 4px 6px;
    margin-right: 4px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}
.sort__delete {
    color: #ef4e4e;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
//end main

//start chat
.chat {
    margin-bottom: 25px;
}
.chat__inner {
    display: flex;
}
.chat__aside {
    border-right: 0.5px solid #f0f0f0;
    max-width: 322px;
    width: 100%;
}
.chat__inner-form {
    margin-left: 10px;
    padding-right: 10px;
    input {
        padding-right: 15px;
    }
}
.erudite__button {
    max-width: 292px;
    width: 100%;
    height: 36px;
    background-color: #514eef;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 10px;
    transition: all 0.2s ease;
    &:hover {
        background-color: #3532b8;
    }
}
.chat__button {
    margin-bottom: 20px;
    margin-left: 10px;
}
.chat__inner-message {
    border-top: 0.5px solid #f0f0f0;
    max-height: 660px;
}
.simplebar-track.simplebar-vertical {
    width: 5px;
}
.simplebar-scrollbar::before {
    background-color: #f6f6f6;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

.chat__message-item {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 20px;
    border-bottom: 0.5px solid #f0f0f0;
}

.chat__image-user {
    position: relative;
    margin-right: 8px;
    width: 40px;
}
.chat__image-user--online::after {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #12cc94;
    border: 1px solid #fff;
    right: 4px;
    bottom: 3px;
}
.chat__message-username {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $text;
}
.chat__message-status {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    max-width: 170px;
    color: #b2b2b2;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chat__message-status--new {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: $text;
}
.chat__message-info {
    max-width: 60px;
    width: 100%;
    position: relative;
}
.chat__message-lasttime {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #b2b2b2;
    text-align: end;
    padding-right: 10px;
}
.chat__message-number--new {
    position: absolute;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    height: 17px;
    width: 17px;
    background-color: #ef4e4e;
    border-radius: 45%;
    text-align: center;
    padding-top: 3px;
    right: 13px;
    top: 23px;
}
.chat__message-area {
    width: 100%;
    // display: flex;
    // justify-content: flex-start
    // margin: 0 auto;
    // text-align: center;
}
// .chat__area-banner{
//     display: none;
// }
.chat__area-banner {
    position: relative;
}
.chat__area-line {
    position: absolute;
    max-width: 74px;
    width: 100%;
    height: 3px;
    background-color: $text;
    left: 44px;
    border-radius: 6px;
}

.line__one {
    top: 23px;
}
.line__two {
    top: 37px;
}
.line__three {
    top: 51px;
}

.chat__area-text {
    margin-top: 24px;
    width: 162px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
.chat__message-item--on {
    background-color: #f8f8f8;
}
.chat__message-username--mute,
.chat__header-username--mute {
    position: relative;
    &::after {
        position: absolute;
        content: "\e900";
        font-family: "icomoon";
        top: -3px;
        right: -18px;
        font-size: 20px;
        color: $text;
    }
}
.chat__header-username--mute::after {
    right: -24px;
    cursor: auto;
}
.chat__message-number--new.chat__message-number--mute {
    background-color: #b2b2b2;
}
.chat__message-area-on {
}
.chat__message-header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid #f0f0f0;
}
.chat__message-person {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat__header-username {
    margin-left: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $text;
}
.chat__header-buttons {
    margin-right: 20px;
    max-width: 130px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__buttons-action {
    border: none;
    padding: 0;
    margin: 0;
    height: 30px;
    border-radius: 6px;
    background-color: transparent;
    // &:focus {
    //     background-color: #b2b2b2;
    //     .icon-menu {
    //         color: #fff;
    //     }
    //     .dropdown__buttons-action {
    //         background-color: transparent;
    //     }
    // }
}
.dropdown__buttons-action {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #f8f8f8;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: #eaeaea;
    }
}
.icon-menu {
    position: absolute;
    padding-top: 5px;
    padding-left: 6px;
}
.icon-menu {
    position: absolute;
    content: "";
    color: #514eef;
    font-size: 18px;
}
.active__dropdown {
    background-color: #b2b2b2;
    .icon-menu {
        color: #fff;
    }
    &:hover {
        background-color: #b2b2b2;
    }
}
.dropdown-content a {
    position: relative;
    text-align: left;
    padding-left: 40px;
    // &:hover{
    //     background-color: transparent;
    // }
}
.dropdown-content a img {
    position: absolute;
    left: 16px;
}

.header__buttons-video {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    background-color: #f8f8f8;
    transition: all 0.2s ease;
    cursor: pointer;
    border: none;
    .icon-video {
        fill: #514eef;
        margin-top: 3px;
    }
    &:hover {
        background-color: #eaeaea;
    }
    &:active,
    &:focus {
        background-color: #b2b2b2;
        .icon-video {
            fill: #fff;
        }
    }
}

.header__buttons-adduser {
    background-image: url(../images/chat/adduser.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    text-align: center;
    background-color: #514eef;
    width: 30px;
    height: 30px;
    transition: all 0s ease;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: #3532b8;
        transition: all 0.2s ease;
    }
    &:focus {
        transition: all 0.2s ease;
        background-color: #b2b2b2;
        color: #ffffff;
        background-image: url(../images/chat/vector8.svg);
    }
}

// .dropdown-button{
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     width: 24px;
//     height: 24px;
//     background-color: #000;
// }
.chat__message-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.chat__message-data {
    // margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #b2b2b2;
    margin-bottom: 10px;
}
.chat__message-inner {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
// .chat__message-alienmessage + .chat__message-mymessage,
// .chat__message-mymessage + .chat__message-alienmessage {
//     margin-bottom: -14em;
// }
// .chat__message-alienmessage + .chat__message-alienmessage,
// .chat__message-mymessage + .chat__message-mymessage {
//     margin-top: 0.5em;
// }
.chat__message {
    text-align: left;
    padding: 10px;
    width: 284px;
    height: 76px;
    background-color: #f8f8f8;
    border-radius: 10px;
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    img {
        justify-content: flex-end;
        align-items: flex-end;
    }
}
.chat__message-mymessage {
    margin-right: 20px;
}
.chat__message-alienmessage {
    margin-left: 20px;
}
//end chat

//start footer
.footer {
    background-color: #5d5d6e;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    height: 57px;
    align-items: center;
    text-align: center;
}
.footer__menu-list {
    li {
        display: inline-block;
        & + li {
            margin-left: 40px;
        }
    }
}
.footer__menu-list a {
    color: #ededf1;
    font-size: 14px;
    line-height: 17px;
}

.footer__social-link {
    li {
        display: inline-block;
        & + li {
            margin-left: 6px;
        }
    }
}
.footer__social-link li a {
    color: #ededf1;
    font-size: 19px;
}
//end footer
