@import "vars";
@import "global";
@import "fonts";

//header start
.header {
    margin-bottom: 25px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
.header__logo {
    font-weight: 700;
    font-size: 20px;
    line-height: 23.7;
    color: #514eef;
    span {
        color: #ef924e;
    }
}
.header__menu--off,
.header__image-user--off,
.header__lang--off {
    display: none;
}
.header__lang--on {
    padding: 20px 20px 20px 22px;
    width: 60px;
    height: 60px;
    background-color: #f4f4f4;
    border-radius: 6px;
}
.header__menu--on,
.header__image-user--on,
.header__lang--on {
    display: block;
}
.lang__ru--on img,
.lang__en--on img {
    border-radius: 45px;
    display: block;
}
.lang__ru--off img,
.lang__en--off img {
    display: none;
}
.lang__ru--on,
.lang__en--on {
    position: relative;
}
.drop-down__list {
    height: 0px;
    overflow: scroll;
    opacity: 0;
    position: absolute;
    width: 60px;
    background-color: #f4f4f4;
    border-radius: 6px;
    right: -20px;
    top: -21px;
    z-index: 5;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.drop-down__list a {
    padding: 5px 0px 5px 22px;
    display: block;
}
.lang__ru--on .drop-down__list li,
.lang__en--on .drop-down__list li {
    margin-left: 0;
    display: block;
}
.lang__ru--on.drop-down:hover .drop-down__list,
.lang__en--on.drop-down:hover .drop-down__list {
    height: 88px;
    overflow: visible;
    opacity: 1;
    transition: all 0.01s;
}
.header__menu-list {
    padding-top: 25px;
    li {
        display: inline-block;
        & + li {
            margin-left: 40px;
        }
    }
}
.header__menu-list a {
    font-weight: 500;
    font-size: 18px;
    line-height: 21.33px;
    color: #a2a2a2;
}
.header__menu-list .active {
    opacity: 1;
    color: #444;
}
.header__wrapper {
    background-color: #fff;
}
.chat {
    position: relative;
    span {
        background-color: rgba($color: #ef4e4e, $alpha: 1);
        border-radius: 50%;
        color: #fff;
        font-weight: 500;
        font-size: 8px;
        line-height: 14px;
        position: absolute;
        width: 14px;
        height: 14px;
        text-align: center;
        right: -19px;
        top: 4px;
    }
}
.header__image-user--on img {
    width: 40px;
    height: 40px;
}
//header end

//start main

.main__inner-form,
.chat__inner-form {
    position: relative;
    margin: 0 10px;
    padding-top: 20px;
    padding-bottom: 10px;
    input {
        display: block;
        width: 100%;
        background-color: #f6f6f6;
        border-radius: 6px;
        border: none;
        height: 36px;
        padding-left: 36px;
        padding-right: 60px;
        outline: 0;
        &::placeholder {
            color: #dedede;
            font-size: 14px;
            line-height: 17px;
        }
    }
    button {
        position: absolute;
        border: none;
        background-color: transparent;
        left: 5px;
        top: 27px;
        cursor: pointer;
    }
}
.main__settings {
    position: absolute;
    right: -4px;
    top: 14px;
}
.icon-search {
    color: #b2b2b2;
    font-size: 18px;
}
.dropbtn {
    color: #444;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.main__inner-sort {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sort__title {
    color: $text;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 10px;
}
.sort__criterion-inner {
    background-color: #f6f6f6;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0 15px 0 8px;
    margin-left: 10px;
    border-radius: 4px;
    width: 449px;
}
.sort__criterion-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort__criterion-item {
    background-color: #12cc94;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    padding: 4px 22px 4px 6px;
    margin-right: 4px;
    border-radius: 2px;
    position: relative;
}
.sort__criterion-delete {
    position: absolute;
    display: inline-block;
    background-color: rgba(68, 68, 68, 0.3);
    border-radius: 2px;
    height: 20px;
    width: 20px;
    // padding: 5px 6px 3px 6px;
    top: 0px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    background-image: url(../images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 8px;
}
.sort__criterion-add {
    background-color: #b2b2b2;
    color: #fff;
    font-size: 10px;
    line-height: 12px;
    padding: 4px 6px 4px 6px;
    margin-right: 4px;
    border-radius: 2px;
    position: relative;
    cursor: pointer;
}
.sort__delete {
    color: #ef4e4e;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
}
//end main

//start chat
.chat {
    margin-bottom: 25px;
}
.chat__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat__aside {
    border-right: 0.5px solid #f0f0f0;
    max-width: 322px;
    width: 100%;
}
.chat__inner-form {
    margin-left: 10px;
    padding-right: 10px;
    input {
        padding-right: 15px;
    }
}
.erudite__button {
    max-width: 292px;
    width: 100%;
    height: 36px;
    background-color: #514eef;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-top: 10px;
    transition: all 0.2s ease;
    &:hover {
        background-color: #3532b8;
    }
}
.chat__button {
    margin-bottom: 20px;
    margin-left: 10px;
}
.chat__inner-message {
    border-top: 0.5px solid #f0f0f0;
    max-height: 660px;
}
.simplebar-track.simplebar-vertical {
    width: 5px;
}
.simplebar-scrollbar::before {
    background-color: #f6f6f6;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

.chat__message-item {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding-left: 20px;
    border-bottom: 0.5px solid #f0f0f0;
}

.chat__image-user {
    position: relative;
    margin-right: 8px;
}
.chat__image-user--online::after {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #12cc94;
    border: 1px solid #fff;
    right: 4px;
    bottom: 3px;
}
.chat__message-username {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $text;
}
.chat__message-status {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    max-width: 170px;
    color: #b2b2b2;
    padding-right: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.chat__message-status--new {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: $text;
}
.chat__message-info {
    max-width: 60px;
    width: 100%;
    position: relative;
}
.chat__message-lasttime {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #b2b2b2;
    text-align: end;
    padding-right: 10px;
}
.chat__message-number--new {
    position: absolute;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    height: 17px;
    width: 17px;
    background-color: #ef4e4e;
    border-radius: 45%;
    text-align: center;
    padding-top: 3px;
    right: 13px;
    top: 23px;
}
.chat__message-area {
    margin: 0 auto;
    text-align: center;
}
.chat__area-banner {
    position: relative;
    
}
.chat__area-line {
    position: absolute;
    max-width: 74px;
    width: 100%;
    height: 3px;
    background-color: $text;
    left: 44px;
    border-radius: 6px;
}

.line__one {
    top: 23px;
}
.line__two {
    top: 37px;
}
.line__three {
    top: 51px;
}

.chat__area-text {
    margin-top: 24px;
    width: 162px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}
//end chat

//start footer
.footer {
    background-color: #5d5d6e;
}
.footer__inner {
    display: flex;
    justify-content: space-between;
    height: 57px;
    align-items: center;
    text-align: center;
}
.footer__menu-list {
    li {
        display: inline-block;
        & + li {
            margin-left: 40px;
        }
    }
}
.footer__menu-list a {
    color: #ededf1;
    font-size: 14px;
    line-height: 17px;
}

.footer__social-link {
    li {
        display: inline-block;
        & + li {
            margin-left: 6px;
        }
    }
}
.footer__social-link li a {
    color: #ededf1;
    font-size: 19px;
}
//end footer
